.contact-form-style {
    box-sizing: border-box !important;
    font-size: 0.9rem;
    border: 1px solid transparent !important;
    border-radius: 0.25rem !important;
    background-color: white !important;
    box-shadow: 0 1px 3px 0 #8c7f6c !important;
    -webkit-transition: box-shadow 150ms ease !important;
    transition: box-shadow 150ms ease !important;
}

textarea {
    height: 120px !important;
}