html {
    height: 100%;
}

body {
    background: url('/media/craft-homemade.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.home-page {
    margin-top: auto !important;
    margin-bottom: 3rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background:#2C462B;
    color: #F57200;
    min-width: 260px;
}

/* main button */
.btn-fc {
    background:#2C462B;
    color: #F57200;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-fc:hover,
.btn-fc:active,
.btn-fc:focus {
    background: #F57200;
    color: #2C462B;
}

/* Keep shopping button */
.btn-fc-out {
    color: #F57200 !important;
    border: 1px solid #2C462B;
}

.btn-fc-out:hover,
.btn-fc-out:active,
.btn-fc-out:focus {
    background: #F57200;
    color: #2C462B !important;
}

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-color: #2C462B !important;
}

.btt-link {
    color: #2C462B;
    cursor: pointer;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.btt-link:active,
.btt-link:hover,
.btt-link:focus {
    background:#2C462B;
    color: #F57200;
}

.text-black {
    color: #000 !important;
}

.text-fc {
    color:#2C462B !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-color {
    background: #000 !important;
}

.custom-select {
    background: #2C462B;
    color: #F57200;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background:#f8d1af;
	z-index: -1;
}

a.category-bar > span.badge:hover {
    background: #2C462B !important;
    color: #F57200 !important;
}

hr {
    border-top: 1px solid white;
}

/* background color on product details  */
.details {
    background: #b7d3b6 !important;
}

.navbar {
    padding: .5rem .5rem;
}

/* ----------------- Media Queries ---------------------*/

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar on medium screen and above */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media (max-width: 441px) {
    .header-container {
        padding-top: 150px;
    }

    body {
        height: calc(100vh - 116px);
    }

    /* slightly change position and size btt button on small screen */
    .btt-button {
        height: 32px;
        width: 32px;
        bottom: 20px;
        right: 7px;
}