@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    height: 100%;
}

body {
    background: linear-gradient(rgba(48, 48, 48, 0.527),rgba(0, 0, 0, 0.5)), url('/media/craft-homemade.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.home-page {
    margin-top: auto !important;
    margin-bottom: 3rem;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.text-black {
    color: #000 !important;
}

.text-fc-org {
    color: #fb9237;
    font-family: Lobster;
}

.text-fc {
    color:#20321f !important;
}

/* overide default bootstrap text color class */
.text-danger {
    color: #a10000 !important;
    
}

.text-primary {
    color: #0053ab !important
}

.border-black {
    border: 1px solid black !important;
}

/* delivery baner */
.bg-color {
    background: #2C462B !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background:#eddac9;
	z-index: -1;
}

/* change overlay background color on product details  */
.details {
    background: #eeffed !important;
}

hr {
    border-top: 1px solid white;
    box-sizing: border-box;
}

/* ---------- Footer ---------- */

.footer-fc {
    bottom: 0;
    width: 100%;
    position: fixed;
    font-family: Lobster;
    background: #2C462B;
    text-shadow: 0 1px 3px #F57200;
    text-transform: capitalize;
    text-align: center;
    color: white !important;
}

p.footer-text {
    margin-bottom: 0;
}

.hover-fc:hover {
    color: #F57200 !important;
    cursor: pointer;
}

/* --------------- Buttons ------------- */

.btn-qty {
    background:#2C462B;
    color: #F57200;
}

.shop-now-button {
    background:#2C462B;
    color: #ffaa60;
    min-width: 260px;
}

/* Search button*/
.btn-fc-sc,
.custom-select {
    background:#2C462B;
    color: #ffaa60;
}

/* main button */
.btn-fc {
    background:#2C462B;
    color: #ffaa60;
    border-radius: 0.25rem;
    line-height: 1.5;
}

/* Keep shopping button */
.btn-fc-out {
    color: #2C462B;
    border: 1px solid #2C462B ;
    border-radius: 0.25rem;
    line-height: 1.5;
}

.shop-now-button:hover,
.btn-fc:hover,
.btn-qty:hover,
.btn-fc-out:hover {
    background: #ff8c28e8;
    color: #20321f !important;
}

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 6rem;
    right: 10px;
    border-color: #2C462B !important;
}

.btt-link {
    color: #2C462B;
    cursor: pointer;
}

.update-link,
.remove-item {
    cursor: pointer;
}

a.category-bar > span.badge:hover,
.btt-link:hover {
    background:#2C462B;
    color: #ffaa60 !important;
    font-weight: 300;
}

/* search box placeholder */
input[name='q']::placeholder {
    color: rgb(44, 70, 43, 0.5);
}

/* to overide default box shadow */
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(44 70 43 / 50%) !important;
}

.navbar {
    padding: .5rem .5rem;
}

.table {
	display: contents;   /* Allow the centering to work */
	margin: 0 auto;
}

/* ---------- from CSS-tricks.com ---------- */

.gradient,
.dropdown-item:hover {
    font-family: Lobster;
    background: linear-gradient(to bottom, #ff7700, #144912);
    background-clip: text;
    font-weight: 300;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dropdown-item {
    font-family: Lobster;
    color:black;
}

span.gradient {
    font-size: 25px;
}

/* CSS Triangle  */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* -------------- bootstrap toasts --------------- */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.toast-capper {
    height: 2px;
}

/* ------- Allauth form formatting ------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    font-size: 0.9rem;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 500;
    color: #fcb271;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #2C462B;
    border: 1px solid #2C462B;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
	color: #fff;
    background-color: #F57200;
    border-color: #222;
}

.allauth-form-inner-content .form-group,
.allauth-form-inner-content a {
	color: #244723; /* text-info */
    font-weight: 600;
}

  /* to overide main btn-fc class */
.allauth-form-inner-content a{
    border-color: #222;
}

.allauth-form-inner-content a:hover {
    color: #fb9237;
    border-color: #222;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 50%;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #e6b9bd;
    border-radius: 50%;
}

/* Bag */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bag-cards .card,
.bag-cards .card-footer {
    background: none;
}

/* Contact Form  */
.contact-container {
    background-color: #f7e2d0;
}

/* Images */
.img-product {
    max-width: 400px;
    height: 100%;
    margin: auto;
    display: block;
}

/* ----- 404, 500 error ----- */
/* This style was used from Colorlib for 404 and 500 error template 
*   {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.notfound {
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    background: antiquewhite;
}

.notfound .notfound-404 {
    position: relative;
    height: 50px;
    margin: 0px auto 10px;
    z-index: -1;
}

.notfound .notfound-404 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 250px;
    font-weight: 200;
    margin: 0px;
    color: #211b19;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: #563e37;
    background: #fff;
    padding: 10px 5px;
    margin: auto;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.notfound a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 13px 23px;
    background: #d57538;
    font-size: 18px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    color: #f9b88f;
    background: #211b19;
}*/

/* -------------- Media Queries ----------------- */

/* Adjust bag cards on screen larger then 1700px */
@media (min-width: 1700px) {
    .bag-cards {
        max-width: 300px;
        height: auto;
    }
}

/* Slightly larger container and smaller padding on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

    .contact-container {
        max-width: 50%;
    }

    .footer-container {
        padding-top: 50px;
    }

    .form-group {
        width: 100% !important;
        align-content: center;
    }
}

/* fixed top navbar on medium screen and above */
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu,
    .dropdown .dropdown-menu { 
        display: none; 
    }

    .navbar .nav-item:hover .dropdown-menu,
    .dropdown:hover .dropdown-menu { 
        display: block; 
    }

    .navbar .nav-item .dropdown-menu,
    .dropdown .dropdown-menu { 
        margin-top:0; 
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container,
    .footer-container {
        padding-top: 164px;
    }
}

/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container,
    .footer-container {
        padding-top: 116px;
    }

    .text-fc-org {
        font-size: 2.5rem;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4-logo-font.text-black{
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 14px;
    }

    .allauth-form-inner-content p,
    .allauth-form-inner-content a,
    .allauth-form-inner-content button {
        font-size: 0.75rem;
    }

    #delivery-banner h4,
    .gradient {
        font-size: 1rem;
    }

    h2.gradient {
        font-size: 1.5rem;
    }
    
    .btn.btn-fc-out,
    .btn.btn-fc {
        padding: .375rem .75rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    
    .dropdown-item {
        padding: 0.25rem 0.75rem;
    }

    .btt-button {
        height: 32px;
        width: 30px;
        bottom: 7rem;
        right: 5px;
        font-size: 12px; 
    }

    .form-control {
        font-size: 14px;
    }

    .col-9.col-xl-6 {
        width: 50%;
    }
}

/* ----- 404, 500 error ----- 
@media only screen and (max-width: 767px) {
    .notfound .notfound-404 h1 {
        font-size: 148px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 148px;
        margin: 0px auto 10px;
    }
    .notfound .notfound-404 h1 {
        font-size: 86px;
    }
    .notfound .notfound-404 h2 {
        font-size: 16px;
    }
    .notfound a {
        padding: 7px 15px;
        font-size: 14px;
    }
}*/

@media (max-width: 441px) {
    body {
        height: calc(100vh - 116px);
    }

    .text-fc-org {
        font-size: 1.5rem;
    }

    .shop-now-button {
        min-width: 150px;
    }

    /* To overide my account menu */

    .dropdown-menu.show {
        min-width: fit-content;
        font-size: 15px;
    }

    .btn-fc,
    .btn-fc-out,
    .allauth-form-inner-content a,
    .allauth-form-inner-content button {
        min-width: 140px;
        margin-top: 5px !important;
        
    }

    .icon-btn {
        display: none;
    }
}
